/* projects.css */

/* The grid container that holds all the cards */


.projects-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 4 equal-width columns */
  grid-template-rows: repeat(3, 1fr); /* 3 equal-height rows */
  max-height: 600px;
  gap: 10px; /* Space between cards */
  width: 100%; /* Full width of the container */
  max-width: 100%; /* Max width of the container */
  margin-top: 0; /* Removes extra space from the new layout */
  position: relative; /* Ensure positioning of cards is relative to the grid */


}



/* Position overlay label for disabled card */
.project-disabled {
  position: relative;
  pointer-events: none; /* Disables clicking on this card */
}

.project-disabled::after {
  content: 'Coming Soon';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  font-size: 24px;
  font-weight: 900;
  text-align: center;

  text-transform: lowercase;
  font-variant: small-caps;
  color:var(--text-gray);

  z-index: 2; /* Ensures the label is above the overlay */
}

.project-disabled::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 1); /* 40% opacity black overlay */
  z-index: 2; /* Ensures the overlay is above the image */
}

/* Prevent scaling effect on hover */
.project-disabled:hover {
  transform: none; /* Prevents any scaling */
}

/* Ensure overlay content is not interactable */
.project-disabled img {
  position: relative;
  z-index: 0; /* Keeps the image below the overlay and label */
}

  

.card{
    border: 1px solid var(--accent); 
}
/* Custom sizing for each card */
.card-2x2 {
    grid-column: span 2; /* Span 2 columns */
    grid-row: span 2; /* Span 2 rows */
}

.card-1x2 {
    grid-column: span 1; /* Span 1 column */
    grid-row: span 2; /* Span 2 rows */
}

.card-1x3 {
    grid-column: span 1; /* Span 1 column */
    grid-row: span 3; /* Span 3 rows */
}

.card-1x1 {
    grid-column: span 1; /* Span 1 column */
    grid-row: span 1; /* Span 1 row */
}

.card-2x1 {
    grid-column: 2 / span 2; /* Start at column 2 and span 2 columns */
    grid-row: 3 / span 1; /* Start at row 3 and span 1 row */
}


/* Full-width header for the section */
.projects-header {
  width: 100%;
  text-align: left!important;
  
  font-size: 2rem;
  margin-top: 35px!important;
  margin-bottom: 0px!important;

}

/* Layout for the grid and description columns */
.projects-layout {
  display: grid;
 
  gap: 20px;
  align-items: center; /* Aligns the description text to the top of the grid */
  padding-top: 35px;
  
  place-items: center; /* Centers both vertically and horizontally */
  margin-left: 15px;

}


/* Styling for the description column */
.projects-description{
  width: 100%;
  height: 100%;
  padding-left: 15px;
}

.projects-description p
{
  font-size: 1.3rem;
  font-weight: 400; /* Regular weight */
  line-height: 1.2;
  color: var(--text-gray); /* Use text-gray variable */
  text-align: left;


}