/* Default styles (for screens larger than 860px) */
@media (min-width: 860px) {
    .scroll-to-top {
        position: fixed;
        top: 45px;
        left: 15px;
        background: radial-gradient(circle at top, var(--accent), #A00000);
        color: white;
        border: none;
        width: 50px;
        height: 100px;
        border-radius: 5px;
        cursor: pointer;
        font-size: 24px;
        z-index: 1000;
        opacity: 0;
        visibility: hidden;
        transition: opacity 0.3s ease, visibility 0.3s ease, transform 0.2s ease;
    }

    .scroll-to-top.show {
        opacity: 1;
        visibility: visible;
    }

    .scroll-to-top:hover {
        opacity: 0.6;
        transform: scale(1.1);
    }
}

/* Mobile-specific styles (for screens smaller than 860px) */
@media (max-width: 860px) {
    .scroll-to-top {
        position: fixed;
        bottom: 5px; /* Adjusted to fit at the bottom of the screen */
        right: 5px; /* Adjusted to fit at the right of the screen */
        background: radial-gradient(circle at top, var(--accent), #A00000);
        color: white;
        border: none;
        width: 60px; /* Adjusted size for smaller screen */
        height: 60px; /* Adjusted height for smaller screen */
        border-radius: 50%;
        cursor: pointer;
        font-size: 32px;
        z-index: 1000;
        opacity: 0;
        visibility: hidden;
        transition: opacity 0.3s ease, visibility 0.3s ease, transform 0.2s ease;
    }

    .scroll-to-top.show {
        opacity: 0.8;
        visibility: visible;
    }


}
