/* src/components/About/CTA.css */
.cta-container {
    text-align: center;
    padding: 100px 20px 500px 20px;

  }
  
  .cta-header {
    font-size: 4rem!important;
    text-align: center!important;
  }
  
  .highlight {
    color: var(--accent);
  }

  .cta-subtitle
  {
      font-weight: 300;
      font-size: 1.5rem;
      margin: 15px 0;
  }

  .cta-breakline {
    width: 50px;
    height: 1px;
    background-color: var(--accent);
    margin: 10px auto; /* Centers the line horizontally */
  }
  
  
  .cta-button {
    display: inline-block;
    padding: 15px 30px;


    background-color: var(--accent); /* Use the accent color */
    border-radius: 10px;
    text-decoration: none;
    transition: all 0.3s ease;
    margin-top: 15px;
    color: var(--text-darker);
  }
  
  .cta-button:hover {
    background-color: var(--transparent);
    border: 1px solid var(--accent);

    color: var(--text-white);
  }

  .icon-class {
    cursor: pointer;
    height: 50px;
    filter: invert(1); /* Inverts colors, making black icons white */
    margin: 5px;
    transition: all 0.5s ease;
}
  .icon-class:hover
  {
    transform: scale(1.4);
  }
  